* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
}

section,
header {
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container {
    max-width: 800px;
    margin: 0 auto;

}

nav a {
    text-decoration: none;
    border: solid #CCC 1px;
    padding: 5px 25px;
    margin-right: 10px;
    color: black;
    border-radius: 5px;
}

nav a:hover {
    background-color: black;
    color: #FFF;
}

nav a:last-child {
    margin-right: 0;
}


nav button {
    text-decoration: none;
    border: solid #CCC 1px;
    padding: 10px 30px;
    margin-right: 10px;
    color: black;
    border-radius: 5px;
    background-color: #FFF;
}

nav button:hover {
    background-color: black;
    color: #FFF;
    cursor: pointer;
}



nav button:last-child {
    margin-right: 0;
}




nav form button {
    text-decoration: none;
    border: solid #CCC 1px;
    padding: 10px 30px;
    margin-right: 10px;
    color: black;
    border-radius: 5px;
    background-color: #FFF;
}

nav form button:hover {
    background-color: black;
    color: #FFF;
    cursor: pointer;
}



nav form button:last-child {
    margin-right: 0;
}




.post {
    margin-top: 70px;
}

.post:first-child {
    margin-top: 0px;
}

p {
    line-height: 1.4rem;
    color: #313131;
    font-weight: 300;
    font-size: 15px;
}

.post-title {
    margin-bottom: 10px;
    font-weight: 600;
}

.post-title a {
    color: inherit;
    text-decoration: none;
}

.post-title a:hover {
    text-decoration: underline;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
}

.post-meta a {
    color: inherit;
    text-decoration: none;
}

.post-meta a:hover {
    text-decoration: underline;
}

.comment {
    margin-left: 10px;
}

.post-comment {
    margin-bottom: 15px;
}

.comment-wrapper {
    padding-left: 2em;
    background-color: rgb(247, 247, 247);
    padding: 20px 15px;
    border-radius: 10px;
}

#post-comment {
    margin-top: 20px;
    width: 79.4%;
    height: 50px;
    border-radius: 10px;
    border: transparent;
    background-color: rgb(247, 247, 247);
    margin-right: 5%;
}

.post-comment button {
    width: 15%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(172, 129, 194);
    color: #FFF;
}

.post-comment button:hover {
    cursor: pointer;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/* Modal Styles Starts */
.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal-bg2 {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
    background-color: #FFF;
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.inner-join-modal {
    height: 70%;
}

.inner-join-modal h2{
    margin-top: 30px !important;
}

.form-entry{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.auth-form button {
    width: 25%;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: rgb(172, 129, 194);
    color: #FFF;
    cursor: pointer;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 17px;
    font-weight: bold;
    cursor: pointer;
}

.modal-close2 {
    position: absolute;
    top: 10px;
    right: 17px;
    font-weight: bold;
    cursor: pointer;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form-entry{
    width: 100%;
    margin: 15px 0;
}

.modal h2 {
    margin-top: 15px;
}

.form-entry input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    /* margin-top: -20px; */
}
/* Modal Styles End */

.error-msg {
    margin-top: 10px;
    color: firebrick;
}

.register-success-msg {
    margin-top: 10px;
    color: rgb(33, 158, 81);
}

.display-username {
    margin-top: 10px;
    font-weight: bold;
}