*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3{
    margin: 0;
}

section,header{
    padding: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.containers {
    max-width: 800px;
    margin: 0 auto;

}

nav a{
   text-decoration: none;
   border: solid #CCC 1px;
   padding: 5px 25px;
   margin-right: 10px;
   color: black;
   border-radius: 5px;
}

nav a:hover{
    background-color: black;
    color: #FFF;
}



nav a:last-child{
    margin-right: 0;
}

.post{
    margin-top: 70px;
}

.post:first-child{
    margin-top: 0px;
}

p {
    line-height: 1.4rem;
    color: #313131;
    font-weight: 300;
    font-size: 15px;
}
.post-title{
    margin-bottom: 10px;
    font-weight: 600;
    color: #961734;
}
.post-title a{
    color: inherit;
    text-decoration: none;
    color: #961734;
}
.post-title a:hover{
    text-decoration: underline;
}
.post-meta{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bolder;
    color: #961734;
}

section h5{color: #961734; font-weight: bold}

.commentHolder{
    background-color: #F4F4F4; margin-top: 10px; padding: 5px 0;  border-radius: 5px;

}

.comment{background-color: #FFFFFF; margin: 5px auto; padding: 5px;
    width: 95%; border-radius: 5px;
    border: #f1f1f1 thin solid;
}
.commentName{color: #961734; font-size: 12px;}

.commentFrm label{color: #961734; font-weight: bold}