* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: "myriad-pro", "Myriad Pro", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #282b30;
  background: #eee;
}
h1,
h2,
h3,
h4,
h5 {
  color: #282b30;
}

.container {
  width: 100%;
  height: 100%;

  margin: 0 auto;
  padding-bottom: 30px;
}

.topwrapper {
  max-width: 250px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  font-weight: 700;
  text-align: center;
}

.tagline {
  text-align: center;
}

form {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 65% 25%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "label ."
    "file btn";
  justify-content: space-between;
}
#title {
  grid-area: label;
  font-size: 1rem;
}
#file {
  width: 100%;
  padding: 16px;
  border: solid 1px rgb(192, 192, 192);
  grid-area: file;
}

input[type="file"] {
  width: 100%;
  padding: 16px;
  border: solid 1px rgb(192, 192, 192);
  grid-area: file;
  display: none;
}

input[type="submit"] {
  width: 100%;
  padding: 15px;
  grid-area: btn;
  border: solid 1px rgb(192, 192, 192);
  font-size: 1rem;
}

#gallery {
  height: auto;
  padding: 20px;
}

.gallerywrapper {
  width: 80%;
  min-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 20px;
}

.imgbox {
  width: 350px;
  max-width: 350px;
  height: 350px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.imgbox img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  cursor: pointer;
}

.close {
  height: 50px;
  width: 50px;
  background: #ffffff;
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  line-height: 51px;
  position: absolute;
  right: 10%;
  top: 10%;
  border-radius: 50%;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: red;
  background-color: #6d6b6b;
}

.modal-content {
  max-width: 500px;
  height: auto;
  margin: 50px auto;
}

.modal-content img {
  max-width: 100%;
  height: auto;
  margin: 50px auto;
}
