.dashboard-sidebar {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  display: block;
  background-color: $primary;
  max-width: 3.75rem;
  height: 100%;
  flex: 1;
}
.dashboard--authors {
  flex: 1;
  @extend .d-flex;
  @extend .flex-column;
}
.logo-white {
  @extend .signin--logo;
  height: 2.75rem;
  width: 2.75rem;
  background-color: $white;
  margin: 1.6125rem 0;
}
.menu {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
}
.menu-item {
  margin-bottom: 2rem;
}
.search--area {
  background: $white;
  border: 1px solid rgba(76, 141, 235, 0.186481);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $darkgrey;
  width: 20.25rem;
}

.avatar{
  height: 2.75rem;
  width: 2.75rem;
  background-color: red;
  border-radius: 50%;
}
.searchbar{
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
    padding: 1.6125rem 1.1rem;
}
.table--container{
    background-color: $lightpurple;
    flex: 1;
    padding: 0 1.1rem;
}
.table--container--header{
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
}
.btn-table{
   border-radius: 0.25rem; 
   padding-left: 2rem;
   padding-right: 2rem;
}

.table--head{
    background-color: $lightblue;
    display: block;
    padding: 1.5rem 3.37rem 1.5rem 4rem;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
}
.table--body{
    padding: 0 1.5rem;
    background-color: $white;
}

.table-row{
    border-bottom: 1px solid $lightblue;
    padding: 1.5rem 0;
    padding-right: 2.5rem;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
}

.author--image{
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    display: inline-block;
    background-color: $primary;
    margin-right: 0.4rem;
  }
  .author--index{
      margin-right: 1.2rem;
  }
  .row--item{
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
  }
  .hide-bottom{
      border-bottom: none;
  }

  .modal-bg {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color:rgba(197, 197, 197, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    background-color: $white;
    left:27.96%;
    right:27.96%;
    top: 14.99%;
    width: 40rem;
    height:37rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.625rem;
  }

  .modal-header {
    width:100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $lightpurple;
    margin-bottom: 0.9375rem;
  }

 .modal-title {
    color: #000000;
    // left: 30.31%;
    // right:59.96%;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .modal-close {
    font-weight: 700;
    padding-top: 1.5rem;
    cursor: pointer;
    color: rgba(64, 81, 105, 0.6);
  }

  .modal-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 1.5rem 0;

  }

  .fa-camera { 
      position:fixed;
      color: $primary;
      background-color: $white;
      left: 37.00%;
      top: 39.05%;
      cursor: pointer;
  }

 .form-group label {
    text-transform: none;
    font-weight: 700;
 }

 .form-control {
   min-width: 10px;
   border-color:rgba(24, 20, 38, 0.0992133);
   background: rgba(0, 204, 240, 0.02);

 }