.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(197, 197, 197, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 43%;
    height: 75%;
    background-color: #FFF;
    border-radius: 10px;
}

.modal > * {
    align-self: center;
    width: 89%;
}

.modal .title {
    font-size: 1.5em;
    font-weight: 500;
}

.modal > input {
    background: rgba(0, 204, 240, 0.02);
    border: 1px solid rgba(24, 20, 38, 0.0992133);
    border-radius: 4px;
    padding: 2%;
}

.modal > button {
    margin-bottom: 50px;
    border-radius: 4px;
    margin-top: 25px;
    padding: 2.5%;
}

.modal > label {
font-size: 14px;
font-weight: 500;
margin-top: 10px;
}

.modal img {
    max-width: 5em;
    display: flex;
    align-self: flex-start;
    margin-left: 5.4%;
}

.modal-close {
    position: absolute;
    top: 5.5%;
    right: 5.5%;
}

.add-author-img {
    @extend .author--image;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-self: flex-start;
    margin-left: 5.32%;
}

hr.line {
    border-top: 1px solid rgba(0, 204, 240, 0.02);
    margin-top: -20px;
}



